.sidebar-nav {
    margin-top: 20px;
    padding: 10px;
    list-style: none;
    background-color:#f5f5f5;
    border-radius:5px;
}

a, p{
    font-size:20px;
    font-family: Garamond;
}

img{
    border-radius:5px;
}

.small-images-index{
    width:94%;
}